* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

.cnt_1 {
    width: 500px; /* larghezza */
    height: 300px;
    background-color: red;
    display: inline-block;
    margin-right: 5px;
    border-radius: 8px;
    margin-top: 10px;
}

.img_card {
    width: 200px;
    border-radius: 50%;
}

.my_btn {
    font-size: 10px;
    color: white;
    width: 100px;
    height: 25px;
    background-color: green;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.my_btn:hover {
    background-color: rgb(23, 146, 23);
}

.cnt_1 a {
    text-decoration: none;
    color: yellow;
    cursor: pointer;
}